.modal {
  &-wrapper {
    @include sm {
      width: 100%;
      height: 100vh;
      border-radius: 0;
    }
    background-color: var(--app-card--bg);
    border-radius: $spacing;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing $spacing * 2;
    border-bottom: 1px solid var(--app-shadow);
  }
  &-container {
    width: 100%;

    @include lg {
      width: 600px;
    }
  }

  &-body {
    padding: $spacing * 3;
  }

  &-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
  &-enter-active .modal-wrapper,
  &-leave-active .modal-wrapper {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
